
<div ng-include="" src="'../views/header.html'"></div>
<section class="main-container">
<main role="main" aria-labelledby="formheadline">
    <form class="form" method="post">
        <h2 id="formheadline" class="registration-headline"><!--Headline--></h2>
        <div class="form-row">
            <label class="form-label" for="email-input">Email</label>
            <input type="email" name="email" id="email-input" required class="form-input">
        </div>
        <div class="form-row">
            <label class="form-label" for="password-input">password</label>
            <input type="password" name="password" id="password-input" required class="form-input" minlength="4" maxlength="12">
        </div>
        <div class="form-row form-row-center">
            <button class="button button-submit">login</button>
        </div>
    </form>
</main>
</section>
<div ng-include="" src="'../views/footer.html'"></div>