
<div ng-include="" src="'../views/header.html'"></div>
<div ng-include="" src="'../views/sidebar.html'"></div>
<section class="main-container">


    <main role="main" aria-labelledby="productsheadline">
        <h2 class="main-headline" id="productsheadline">overview.headline</h2>
        <div class="products">

                <div ng-repeat = "product in products" class="product-outer" data-product-id="{{product.id}}">
                    <a href="#/product/{{product.id}}" class="product expired" title="overview.moreInformation {{product.name_en}}">
                    <img class="product-image" src="/images/{{product.image}}" alt="{{product.imageAlt}}">
                    <dl class="product-properties properties">
                        <dt>overview.name</dt>
                        <dd class="product-name">{{product.name_de}}</dd>
                        <dt>overview.price"</dt><dd class="product-price">{{product.highestBid.convertedAmount}}</dd>
                    </dl>
                    </a>
                </div>
        </div>

    </main>
</section>
<div class = "" ng-include="" src="'../views/footer.html'"></div>