<header role="banner" aria-labelledby="bannerheadline">
    <img class="title-image" src="../images/big-logo-small.png" alt="BIG Bid logo">
    <h1 class="header-title" id="bannerheadline">
        BIG Bid
    </h1>
    <nav role="navigation" aria-labelledby="navigationheadline">
        <h2 class="accessibility" id="navigationheadline"><!--TODO--></h2>
        <ul class="navigation-list">
            <li>
                <a href="#/login" class="button" accesskey="l">Login</a>
            </li>
        </ul>
    </nav>
</header>