<div ng-include="" src="'../views/header.html'"></div>


<section class="main-container">
<form class="form" name="registrationForm" novalidate><!--method post was here-->
    <h2 id="formheadline" class="registration-headline">{{formHeadline}}</h2>
    <fieldset>
        <legend>{{legendPD}}</legend>
        <div class="form-row">
            <label class="form-label" for="salutation-input">
                {{salutationLabel}} *
            </label>
            <select name="salutation" id="salutation-input" class="form-input" ng-model="salutation" required>
                <option value="ms">{{ms}}</option>
                <option value="mr">{{mr}}</option>
            </select>
        </div>
        <!-- Error messages -->
        <span ng-show="registrationForm.salutation.$dirty && registrationForm.salutation.$error.required" id="salutation-error" class="error-text" style="display: block">{{salutationError}}</span>
        <div class="form-row">
            <label class="form-label" for="firstname-input">
                {{firstnameLabel}} *
            </label>
            <input type="text" name="firstname" id="firstname-input" class="form-input" ng-model="firstname" required/>
        </div>
        <!-- Error messages -->
        <span ng-show="registrationForm.firstname.$dirty && registrationForm.firstname.$error.required" id="firstname-error" class="error-text" style="display: block">{{firstnameError}}</span>
        <div class="form-row">
            <label class="form-label" for="lastname-input">
                {{lastnameLabel}} *
            </label>
            <input type="text" name="lastname" id="lastname-input" class="form-input" ng-model="lastname" required/>
        </div>
        <!-- Error messages -->
        <span ng-show="registrationForm.lastname.$dirty && registrationForm.lastname.$error.required" id="lastname-error" class="error-text" style="display: block">{{lastnameError}}</span>
        <div class="form-row">
            <label class="form-label" for="dateofbirth-input">
                {{dateofbirthLabel}} *
            </label>
            <input type="date" name="dateofbirth" id="dateofbirth-input" class="form-input" ng-model="dateofbirth" age required/>
        </div>
        <!-- Error messages -->
        <span ng-show="registrationForm.dateofbirth.$dirty && (registrationForm.dateofbirth.$error.required || registrationForm.dateofbirth.$error.date)" id="dateofbirth-input-error" class="error-text" style="display: block">{{dateofbirthError}}</span>
        <span ng-show="registrationForm.dateofbirth.$dirty &&
         !(registrationForm.dateofbirth.$error.required || registrationForm.dateofbirth.$error.date)
         && registrationForm.dateofbirth.$error.age" id="age-input-error" class="error-text" style="display: block">{{ageError}}</span>
        <div class="form-row">
            <label class="form-label" for="email-input">
                {{emailLabel}} *
            </label>
            <input type="email" name="email" id="email-input" class="form-input" ng-model="email" required/>
        </div>
        <!-- Error messages -->
        <span ng-show="registrationForm.email.$dirty && (registrationForm.email.$error.required || registrationForm.email.$error.email)" id="email-error" class="error-text" style="display: block">{{emailError}}</span>
        <div class="form-row">
            <label class="form-label" for="password-input">
                {{passwordLabel}} *
            </label>
            <input type="password" name="password" id="password-input" class="form-input" ng-model="password" ng-minlength="4" ng-maxlength="8" required/>
        </div>
        <!-- Error messages -->
        <span ng-show="registrationForm.password.$dirty && (registrationForm.password.$error.required ||
        registrationForm.password.$error.minlength || registrationForm.password.$error.maxlength)" id="password-error" class="error-text" style="display: block">{{passwordError}}</span>
    </fieldset>
    <fieldset>
        <legend>{{legendVA}}</legend>
        <div class="form-row">
            <label class="form-label" for="streetAndNumber-input">
                {{streetAndNumberLabel}}
            </label>
            <input type="text" name="streetAndNumber" id="streetAndNumber-input" class="form-input" ng-model="streetAndNumber"/>
        </div>
        <div class="form-row">
            <label class="form-label" for="city-input">
                {{cityLabel}}
            </label>
            <input type="text" name="city" id="city-input" class="form-input" ng-model="city"/>
        </div>
        <div class="form-row">
            <label class="form-label" for="country-input">
                {{countryLabel}}
            </label>
            <select type="text" name="country" id="country-input" class="form-input" ng-model="country">
                <option value="at">{{at}}</option>
                <option value="de">{{de}}</option>
                <option value="ch">{{ch}}</option>
            </select>
        </div>
    </fieldset>

    <div class="form-row form-row-center">
        <p>
            <label for="terms">
                <input type="checkbox" name="terms" id="terms" ng-model="terms" required>
                {{termsLabel}}
            </label>
        </p>
    </div>

    <div class="form-row form-row-center">
        <button class="button button-submit register-button" ng-disabled="registrationForm.$invalid">
            {{registerButton}}
        </button>
    </div>
    <div class="form-row form-row-center">
        <p>
           <label>{{compulsoryLabel}}</label>
        </p>
    </div>


</form>
</section>
<div ng-include="" src="'../views/footer.html'"></div>